
.testClass{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.xlabels{
    display: flex;
    flex-direction: column;
    min-width: 15vw;
}
.xinputs{
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}
.przyciskTest{
    display: flex;
    justify-content: center;
}
.labels {
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: -100px;
}

.labels label {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #000000;
}

.inputs {
    width: 50%;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    align-items: center;
    margin: auto;
}

.inputs input, .gender-options {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.gender-options {
    display: flex;
    align-items: center;
}

.gender-options label {
    margin-right: 10px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
}
