.gender-options {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7rem;
}

.gender-options label {
    margin-right: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
}
td {
    border: 0px solid #000;
    padding: 8px;
}
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}

.one-register-input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 1rem;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
}