.green-button {
    background-color: #8edfb4;
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
    margin: 20px auto;
}

.green-button:hover {
    background-color: #7ec7a0;
}