.auth-header {
    background-color: #AFEBBC;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.6);
    width: 75%;
    border-radius: 100px;
    padding: 10px 0;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    margin: auto;

    margin-bottom: 30px;
    font-weight: bold;
}
