
  .sidebar {
    background-color: rgba(146, 222, 139, 0.14); 
    width: 15vw;
    margin-left: 0px; 
    padding-top: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    position: absolute; 
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    z-index: 1;
  }
  
  .sidebar-item {
    color: #47C8A4;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .sidebar-item:hover{
    color:rgb(0, 255, 157);
    transform: scale(1.1); 
  }
  
  .sidebar-item::after {
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    background-color: #47C8A4;
    margin: 0.6rem auto;
  }
  
  .sidebar-item::after {
    margin-top: 10px;
  }
  

  